body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9F9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-wp {
  padding: 1.6rem;
  flex-grow: 1;
}

.app-wp > div {
  padding: 0.5rem;
}

.ItemsWrap {
  flex: 0 0 52%;
}

.CommentsWrap {
  flex: 0 0 48%;
}

.Card {
  background-color: #fff;
  box-shadow: 0 0 0.9rem rgba(0,0,0,0.3);
  border-radius: 0.2rem;
  padding: 1rem;
  min-height: 33rem
}

.Card--items {
  padding-left: 1.5rem;
}
.Card--comments {
  padding-right: 1.5rem;
}

.Card__title {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1.4rem;
  color: #565a69;
}

